<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="public/css/normalize.css" type="text/css" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a2f02755e4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />

    <title>Adv. Reactor Database</title>
  </head>

  <body>
    <!-- Main Section -->
    <main id="mainSectionHome">
      <!-- Header including Navbar -->
      <header class="flexBox">
        <nav>
          <ul id="navList" class="flexBox">
            <li class="navElements"><a href="/">Home</a></li>
            <li class="navElements"><a href="/about">API</a></li>
            <li class="navElements"><a href="#">Developers</a></li>
          </ul>
        </nav>
      </header>

      <section id="appName">
        <h1>arDB</h1>
        <span><i class="fa-solid fa-bolt"></i></span>
      </section>

      <section id="searchReactor">
        <input
          type="text"
          placeholder="Enter reactor name"
          name="name"
          id="reactorNameInput"
          autocomplete="off"
        /><button type="submit" id="searchReactorBtn">Search Database</button>
        <section id="suggestionsContainer" class="flexBox">
          <ul id="suggestions" class="hidden"></ul>
        </section>
      </section>

      <section id="description">
        <p>
          An open source project dedicated to cataloging advanced nuclear reactor
          technologies.
        </p>
      </section>

      <section id="actionButtonArea" class="hidden">
        <span id="actionButton">
          <i id="actionButtonIcon" class="fa-solid fa-arrow-down"></i>
        </span>
      </section>
    </main>

    <section id="reactorDisplay" class="hidden">
      <h2>Test Display Area</h2>
      <p id="displayName"></p>
      <p id="displayProducer"></p>
      <p id="displayCountry"></p>
      <p id="displayType"></p>
      <p id="displayStatus"></p>
      <p id="displayGrossPower"></p>
    </section>

    <script src="/js/main.js"></script>
  </body>
</html>
