/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* General FlexBox Class Setup */
.flexBox {
  display: flex;
}

/* Font Choices & sizing */
* {
  font-family: 'Lato', sans-serif;
}
pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}
#appName > h1 {
  font-size: 5rem;
  letter-spacing: -0.325rem;
  margin: 0;
}
.fa-solid.fa-bolt {
  font-size: 1.25rem;
  color: #473eb3;
}

/* Link styling */
a {
  text-decoration: none;
}
/* nav list elements */
.navElements {
  display: inline-block;
}
/* Main-Input/Buttons Styling */
#reactorNameInput {
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
  padding-left: 1rem;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
#searchReactorBtn {
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  border-left: none;
  border-radius: 0 4px 4px 0;
  border: none;
  color: whitesmoke;
  background-color: #473eb3;
}
#searchReactorBtn:hover {
  cursor: pointer;
}
/******************************************
/* LAYOUT
/*******************************************/
/* general layout styling */
body {
  height: 100vh;
  margin: 0;
  padding-bottom: 5vh;
}
#mainSection,
#contactInfoSection,
#dataOverviewSection,
#availableDataSection {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}
/* header styling */
header {
  height: 8vh;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  justify-content: flex-end;
  align-items: center;
  background-color: #25292e;
}
#navList {
  justify-content: flex-end;
  align-items: center;
  column-gap: 1.5rem;
}
.navElements > a {
  padding: 0.5rem;
  color: whitesmoke;
  transition: all ease-in-out 100ms;
}
.navElements > a:hover {
  color: #5d51e4;
}

/* --------- About Page Layout Styling ---------- */
pre {
  overflow: scroll;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 750px;
  padding: 1rem 1rem;
  background-color: #f6f8fa;
  border: 1px solid #a4a7aa;
  border-radius: 4px;
}
/* Data columns */
#dataColumnsTwo {
  column-count: 2;
}

/* --------- Home Page Layout Styling ---------- */
#mainSectionHome {
  height: 100vh;
  text-align: center;
}
#appName,
#searchReactor,
#description {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}
#appName {
  padding-top: 22.5vh;
  padding-bottom: 7.5vh;
}
#searchReactor {
  padding-bottom: 7.5vh;
}
#description > p {
  margin: 0;
}
/* header styling */
#mainSectionHome > header {
  /* height: 8vh;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  justify-content: flex-end;
  align-items: center;
  background-color: #25292e; */
}
/* Suggestions autocomplete box styling and positioning */
#suggestionsContainer {
  justify-content: center;
  align-items: flex-start;
}
#suggestions {
  height: 5rem;
  width: 25rem;
  text-align: left;
  margin-top: 0;
  padding: 0;
  overflow-y: auto;
  border: solid 2px black;
  border-top: none;
  border-radius: 4px 4px 4px 4px;
}
#suggestions li {
  display: block;
  line-height: 1.35;
  font-size: 0.85rem;
}
#suggestions li:hover {
  cursor: pointer;
  background-color: #938fb9;
}

/* Action button styling and positioning */
#actionButtonArea {
  position: absolute;
  bottom: 5vh;
  left: 49vw;
}
#actionButton > #actionButtonIcon {
  font-size: 2rem;
}
/* Reactor results display area styling */
#reactorDisplay {
  height: 100vh;
  padding: 8vh 7.5vw 8vh 7.5vw;
  border: 1px solid red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: none;
}

/* Media Queries for Device Width */
@media screen and (max-width: 650px) {
  #mainSection,
  #contactInfoSection,
  #dataOverviewSection,
  #availableDataSection {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
  /* Header Styling */
  header {
    height: 7.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
  /* Input & Buttons */
  #reactorNameInput {
    height: 3rem;
    width: 80vw;
    border: 2px solid black;
    border-radius: 4px;
  }
  #searchReactorBtn {
    height: 3rem;
    width: 80vw;
    border-radius: 4px;
    border: none;
  }
  /* Suggestions field */
  #suggestions {
    height: 5rem;
    width: 80vw;
  }
  #suggestions li {
    line-height: 1.65;
    font-size: 1rem;
  }
  /* Reactor Results Display Area Styling */
  #reactorDisplay {
    padding: 5vh 2.5vw 5vh 2.5vw;
  }
}
