/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* General FlexBox Class Setup */
.flexBox {
  display: flex;
}

/* Font Choices */
* {
  font-family: 'Lato', sans-serif;
}
pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

/* Link styling */
a {
  text-decoration: none;
}
/* nav list elements */
.navElements {
  display: inline-block;
}
/******************************************
/* LAYOUT
/*******************************************/
/* general layout styling */
body {
  height: 100%;
  margin: 0;
}
pre {
  overflow: scroll;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 750px;
  padding: 1rem 1rem;
  background-color: #f6f8fa;
  border: 1px solid #a4a7aa;
  border-radius: 4px;
}

#mainSection, #contactInfoSection, #dataOverviewSection, #availableDataSection {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}

/* header styling */
header {
  height: 8vh;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  justify-content: flex-end;
  align-items: center;
  background-color: #25292e;
}
#navList {
  justify-content: flex-end;
  align-items: center;
  column-gap: 1.5rem;
}
.navElements > a{
  color: whitesmoke;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Media Queries for Device Width */
@media screen and (max-width: 650px) {
  #mainSection, #contactInfoSection, #dataOverviewSection, #availableDataSection {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
  /* header styling */
  header {
    height: 7.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}